<%- include('partials/header') %>

<div class="text-light" style="height: 100vh; background-color: #212121">
  <div class="container">
    <section class="py-5 text-center container">
      <div class="row py-5">
        <div class="col-md-8 col-lg-6 mx-auto">
          <h1>Discord Node JS</h1>
          <p class="leade text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            culpa itaque ipsum quae et repudiandae molestiae officiis doloremque
            reiciendis? Fugiat cupiditate iste, expedita deleniti tenetur
            possimus ipsa assumenda, totam illum iusto ratione qui, excepturi
            deserunt dolorum illo dicta quae nulla reiciendis similique magni? A
            enim nulla porro molestiae ipsa deserunt.
          </p>
          <p>
            <a href="/auth" class="btn btn-primary my-2">Login with Discord</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<%- include('partials/footer') %>
